h1, h2, h3, h4, h5, h6 {
	margin-block-start: 1em;
	margin-block-end: 0.5em;
	font-weight: 700;
}

h1 {
	font-size: 2.6rem;

	&:first-child {
		margin-top: 0;
	}
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

a {
	color: $blue;
	font-weight: 700;
}